{
   "code" : "assign01",
   "handins" : [
      {
         "problems" : [
            "prob1"
         ],
         "code" : "first",
         "due" : "Jul 4, 2015 at 12:00am (EST)"
      },
      {
         "problems" : [
            "prob2"
         ],
         "due" : "Jul 5, 2015 at 12:00am (EST)",
         "code" : "second"
      }
   ],
   "due" : "Jul 4, 2015 at 12:00am (EST)",
   "name" : "Assignment 01",
   "problems" : [
      {
         "name" : "Problem 1",
         "points" : 50,
         "code" : "prob1",
         "rubric_comment_template" : "Deductions:"
      },
      {
         "points" : 50,
         "code" : "prob2",
         "subproblems" : [
            {
               "code" : "a",
               "points" : 25
            },
            {
               "points" : 25,
               "code" : "b"
            }
         ],
         "name" : "Problem 2"
      }
   ]
}
